:root {
    --mh-primary-color: #0057FC;
    --mh-primary-color-2: #FFE815;
    --mh-heading-color: #0A0E1A;
    --mh-dblue-color: #0A0E1A;
    --mh-secondary-color: #FE4E15;
    --mh-body-color: #57595C;
    --mh-gray-color: #57595C;
    --mh-nblue-color: #001C52;
    --mh-sliver-color: #b1b4ba;
    --mh-creamy-color: #FBF6EF;
    --mh-white-color: #fff;
    --mh-dgray-color: #333;
}