@use './mixins' as *;
// button
%btn {
    display: inline-block;
    font-family: var(--mh-heading-font);
    padding: 21px 36px;
    font-size: 18px;
    line-height: 1;
    text-transform: capitalize;
    border-radius: 5px;
}
%relative-hidden {
    position: relative;
    overflow: hidden;
}

%btn-triangle {
    position: absolute;
    border-style: solid;
    border-width: 0 0 70px 22px;
    transform: rotate(0deg);
    right: 0;
    top: 0;
    @include mh-transition();
}