// mh-transition 
@mixin mh-transition($time : .3s){
    -webkit-transition: $time;
    -o-transition: $time;
    transition: $time;
}

// translateX 
@mixin translateY($x: 0) {
    -webkit-transform: translateY($x);
    -moz-transform: translateY($x);
    -ms-transform: translateY($x);
    -o-transform: translateY($x);
    transform: translateY($x);
}
  

// placeholder input
@mixin mh-placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}