@use '../utils' as *;

.#{$theme-prefix}-btn {
    &-yellow {
        @extend %btn;
        padding: 26px 46px;
        background-color: var(--mh-primary-color-2);
        color: var(--mh-heading-color);
        @extend %relative-hidden;
        & label {
            @extend %btn-triangle;
            border-color: transparent transparent #E5CF00 transparent;
        }
        &:hover {
            color: var(--mh-heading-color);
        }
        &-02 {
           padding: 21px 46px;
        }
    }
    &:hover {
        & .mh-btn-y-1 {
            @include translateY(-100%);
        }
        & .mh-btn-y-2 {
            @include translateY(0);
        }
        & label {
            border-color: transparent;
        }
    }
    &-wrap {
        @extend %relative-hidden;
    }
    & span {
        display: block;
        @include mh-transition(.2s);
    }
    &-y {
        &-2 {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            @include translateY(100%);
        }
    }
    &-blue {
        @extend %btn;
        background-color: var(--mh-primary-color);
        color: var(--mh-white-color);
        @extend %relative-hidden;
        & label {
            @extend %btn-triangle;
            border-color: transparent transparent #71A2FF transparent;
        }
        &:hover {
            color: var(--mh-white-color);
        }
    }
    &-big {
        @extend %btn;
        padding: 11px 25px;
        background-color: var(--mh-creamy-color);
        color: var(--mh-dblue-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mh-transition();
        & i {
            transform: rotate(-45deg);
            @include mh-transition();
        }
        &:hover {
            & i {
                transform: rotate(0);
            }
        }
    }
    &-circle {
        font-size: 60px;
        font-family: var(--mh-heading-font);
        color: var(--mh-white-color);
        border: 2px solid var(--mh-white-color);
        display: inline-block;
        line-height: 1;
        opacity: .3;
        padding: 51px 74px;
        border-radius: 50%;
        @media #{$xs} {
            font-size: 42px;
        }
        &:hover {
            background-color: var(--mh-primary-color);
            color: var(--mh-white-color);
            border-color: var(--mh-primary-color);
            opacity: 1;
        }
    }
    &-text {
        font-size: 18px;
        line-height: 28px;
        color: var(--mh-gray-color);
        display: inline-block;
        & i {
            transform: rotate(-45deg);
            @include mh-transition();
            margin-left: 5px;
        }
        &:hover {
            & i {
                transform: rotate(0);
            }
        }
        &:hover {
            color: var(--mh-primary-color);
        }
    }
}