@use '../utils' as *;

.#{$theme-prefix}-offcanvas {
    &-area {
        position: fixed;
        z-index: 999;
        background-color: var(--mh-white-color);
        right: 0;
        top: 0;
        width: 400px;
        height: 100%;
        padding: 50px 40px;
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        @include mh-transition();
    }
    &-open {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-close {
        &-button {
            color: var(--mh-heading-color);
            font-size: 29px;
            @include mh-transition();
            &:hover {
                transform: rotate(90deg);
            }
        }
    }
    &-title {
        font-size: 35px;
        margin-bottom: 8px;
    }
    &-gallery {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 10px;
    }
    &-info {
        & span {
            color: var(--mh-dgray-color);
            display: block;
            margin-bottom: 5px;
            @include mh-transition();
            &:hover {
                color: var(--mh-primary-color);
            }
        }
    }
    &-sm-title {
        font-size: 25px;
    }
    &-social {
        & a {
            font-size: 14px;
            width: 40px;
            height: 40px;
            border: 1px solid rgba(2, 11, 24, 0.1);
            color: var(--mh-heading-color);
            display: inline-block;
            text-align: center;
            line-height: 40px;
            border-radius: 50%;
            &:hover {
                color: var(--mh-white-color);
                background-color: var(--mh-primary-color);
                border-color: transparent;
            }
        }
    }
    &-overlay {
        position: fixed;
        height: 100%;
        width: 100%;
        background: #000;
        z-index: 22;
        opacity: 0;
        visibility: hidden;
        @include mh-transition();
        &-open {
            visibility: visible;
            opacity: .4;
        }
    }
}