@use '../utils' as *;

/* 1.2 Default Spacing */

// margin
@for $i from 1 through 20 {
    .mt-#{$i * 5} {
        margin-top: 5px * $i;
    }
}
@for $i from 1 through 20 {
    .mb-#{ $i * 5} {
        margin-bottom: $i * 5px;
    }
}
@for $i from 1 through 20 {
    .ml-#{ $i * 5} {
        margin-left: $i * 5px;
    }
}
@for $i from 1 through 20 {
    .mr-#{ $i * 5} {
        margin-right: $i * 5px;
    }
}

// padding

@for $i from 1 through 32 {
    .pt-#{ 5 * $i } {
        padding-top: 5px * $i ;
    }
}
@for $i from 1 through 30 {
    .pb-#{ 5 * $i } {
        padding-bottom: 5px * $i ;
    }
}
@for $i from 1 through 30 {
    .pl-#{ 5 * $i } {
        padding-left: 5px * $i ;
    }
}
@for $i from 1 through 30 {
    .pr-#{ 5 * $i } {
        padding-right: 5px * $i ;
    }
}