@use '../../utils' as *;

.#{$theme-prefix}blog {
    &__content {
        @media #{$xl,$lg,$md,$xs} {
            padding-left: 0;
        }
    }
    &__meta {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        & span {
            line-height: 28px;
        }
        & cite {
            width: 2px;
            height: 16px;
            background-color: var(--mh-gray-color);
            display: inline-block;
            margin: 0 14px;
        }
    }
    &__title {
        @include mh-transition();
        @media #{$md} {
            font-size: 26px;
        }
        &:hover {
            color: var(--mh-primary-color);
        }
    }
}