@use '../../utils' as *;

.#{$theme-prefix}-about {
    &-area {
        @media #{$xs} {
            & [class*="col-"]:first-child {
                order: 2;
        }
            & [class*="col-"]:last-child {
                order: 1;
            }
        }
    }
    &-shape {
        & img {
            filter: blur(47px);
        }
        &-01 {
            left: 5%;
            top: 31%;
        }
        &-02 {
            right: -6%;
            top: 5%;
        }
        &-03 {
            left: 39%;
            bottom: 27%;
        }
    }
    &-wrapper {
        @media #{$xs} {
            display: flex;
            flex-direction: column;
        }
    }
    &-img {
        @media #{$xs} {
            order: 2;
        }
    }
    &-video {
        @media #{$xs} {
            order: 1;
            margin-bottom: 30px;
        }
        &-icon {
            & a {
                width: 80px;
                height: 80px;
                display: inline-block;
                border: 1px solid var(--mh-body-color);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        &-info {
            & h4 {
                color: var(--mh-body-color);
                font-size: 30px;
                line-height: 40px;
            }
        }
    }
    &-box {
        @media #{$xl} {
            padding-left: 20px;
        }
        @media #{$lg,$md,$xs} {
            padding-left: 0;
        }
    }
    &-thumb {
        @media #{$xs} {
            margin-bottom: 50px;
        }
    }
}