@use '../../utils' as *;

.#{$theme-prefix}-hero {
    &-space {
        padding: 280px 0 180px;
    }
    &-shape {
        &-01 {
            left: -50px;
            top: 36%;
        }
        &-02 {
            left: 21%;
            top: 33%;
            filter: blur(4px);
        }
        &-03 {
            right: 39%;
            top: 31%;
        }
        &-04 {
            right: 10%;
            top: 20%;
            filter: blur(3px);
        }
        &-05 {
            right: 15%;
            bottom: 15%;
            filter: blur(5px);

        }
    }
    &-info {
        color: var(--mh-sliver-color);
        font-size: 15px;
        line-height: 25px;
        font-weight: 500;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        white-space: nowrap;
        border-right: 1px solid rgba(255, 255, 255, .15);
        height: 100%;
        width: 100px;
        position: absolute;
        top: 100px;
    }
    &-social,
    &-info-text {
        transform: rotate(-90deg);
        display: block;
        & a {
            @include mh-transition();
            &:hover {
                color: var(--mh-primary-color-2);
            }
        }
    }
    &-title {
        color: var(--mh-white-color);
        text-transform: uppercase;
        font-weight: 700;
        & span {
            background-image: radial-gradient(42.24% 2817.5% at 52.45% 54.17%, rgba(255, 232, 21, 0.95) 0%, #3C7FFF 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        & p {
            display: inline-block;
            font-size: 30px;
            color: var(--mh-sliver-color);
            margin-bottom: 0;
            font-family: var(--mh-heading-font);
            line-height: 1.33;
            transform: translateY(-6px);
            margin-right: 20px;
        }
    }
}