@forward './hero';
@forward './about';
@forward './newsletter';
@forward './services';
@forward './tabs';
@forward './testimonial';
@forward './team';
@forward './award';
@forward './fact';
@forward './contact';